
body{
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.5);
}

header{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(../img/keyart2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 1rem 1rem black;
}
        header .container .btn a{
            transition: .5s;
        }
        header .container .btn a span{
            transition: .5s;
        }
main{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../img/keyarttlo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.section_rary{
    display: flex;
    height: 350px;
    width: 90vw;
    margin: 1rem auto;
}

        @media (max-width: 900px){
            .section_rary{
                flex-direction: column;
                height: 600px;
            }
        }
ul:not(header ul){
    padding: .5rem 1.5rem;
}
    .boss{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid black;
        width: 15%;
        min-width: 150px;
        padding: 32px;
        background: rgba(30, 42, 42, .4);
        color: white
    }
    @media (max-width: 900px){
       .boss{
           width: 100%;
            height: 180px;
        }
    }
.rary{
    overflow-x: scroll;
    display: flex;
    background:rgba(28, 45, 45, 0.5);
    padding: 10px;
    width: 85%;
    gap: 1rem;
}
    @media (max-width: 900px){
        .rary{
            width: 100%;
            height: 350px;
        }
    }


    .item{
        flex-shrink: 0;
        width: 250px;
        border: 0.5px solid black;
        background-color: rgba(12, 15, 15, 0.5);
        margin: 0px 5px;
        
    }
        .item:first-of-type{
            margin-left: auto;
        }
        .item:last-of-type{
            margin-right: auto;
        }
        .header_item{
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom:  0.5px solid black;
            padding: 5px;
        }
            .header_item h2{
                color: rgb(50, 138, 32);
            }
            .header_item h2 span{
                color: white;
            }
            .header_item img{
             transform: scale(.8);
            }
        .item_psycho{
            background-color: rgba(34, 26, 39, 0.5);
        }
            .item_psycho .header_item h2{
                color:rgb(111, 103, 196);
            }
            .item_psycho .header_item h2 span{
                color:rgba(255, 245, 170, 0.906);
            }

        .rary-info{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
            .rary-info-waga{
                list-style: square;
                color: rgb(202, 202, 86)
            }
            .rary-info-wymagania{
                list-style: square;
                color: rgb(175, 34, 34);
            }
                
            .rary-info-staty{
                list-style: square;
                color: rgb(99, 163, 86);
            }
            .psycho_statistics{
                list-style: square;
                color: rgb(85, 85, 245);
            }
            .rary-info-pancerz{
                list-style: square;
                color: rgb(49, 101, 38);
            }
                .sieczne{
                    color:rgb(109, 190, 93);
                }
                .obuchowe{
                    color:rgb(199, 77, 77);
                }
                .klute{
                    color: rgb(48, 117, 235);
                }